/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#startBackground {
    -fx-background-image: url("img/startBackground.png");
    -fx-background-size: cover; /* Ensures the background image covers the entire window */
    -fx-background-position: center center; /* Centers the background image */
    -fx-background-repeat: no-repeat; /* Prevents repeating the background image */
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); /* Optional shadow effect */
}
#lineDetails {
    -fx-stroke: black;
    -fx-stroke-width: 2;
}
#buttonStart {
    -fx-pref-width: 200; /* Button width */
    -fx-pref-height: 30; /* Button height */
    -fx-background-color: black; /* Button background color */
    -fx-text-fill: white; /* Text color */
    -fx-font-size: 1.5em; /* Font size */
    -fx-font-family: "Montserrat"; /* Font style */
}